* {
    color: white;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 640px;
    height: 740px;
    background-color: #313342;
    border-radius: 12px;
}
.content {
    padding: 0 48px;
    text-align: center;
}
.brand {
    position: relative;
    bottom: 3rem;
    background-color: transparent;
    color: white;
}
.logo {
    color: #6CE4E5;
}
.statement {
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin-bottom: 28px;
}
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    margin: 12px auto;
    background-color: black;
    border-radius: 8px;
    height: 48px;
    color: white;
    font-size: 18px;
    justify-content: center;
}
.p1 {
    font-size: 18px;
    color: #B6BCCB;
}
.p2 {
    font-size: 14px;
    position: relative;
    width: 380px;
    top: 1.5rem;
    line-height: 1.5em;
    color: #B6BCCB;
}
a {
    color: #A185ED;
}