.container {
    background-color: white;
    box-shadow: var(--color-default-shadow);
    width: 400px;
    height: 500px;
}
.wrapper {
    background-color: white;
}
.brand {
    color: #2752FF;
  
}
.loginForm {
    display: flex;
    flex-direction: column;
    color: white;
}
.login-form {
    display: flex;
    flex-direction: column;
}
.login-inputs {
    background-color: white;
    box-shadow: var(--color-default-shadow);
    border: none;
    color: #707584;
    border-radius: 14px;
    padding: 20px 20px;
    margin-bottom: 1rem;
    font-size: 14px;
    outline: none;
}
.login-inputs:focus {
    color: black;
}
.login-button {
    background-color: white;
    box-shadow: var(--color-default-shadow);
    cursor: pointer;
    border: none;
    padding: 14px 0px;
    border-radius: 20px;
    width: 90%;
    margin: 0.5rem auto;
}
