.scroll__parent {
    position: relative;
    width: 96.8%;
    height: 5rem;
    overflow-x: hidden;
    margin: 0 auto 20px;
    margin-top: 118px;
  }

  .scroll__element {
    position: absolute;
    margin-top: 18px;
    display: flex;
    flex-direction: row;
  }

  .scrolling__links {
    text-decoration: none;
  }
  
  /* .scroll__element {
    margin-top: 15px;
    width: auto;
    height: 3rem;
    position: absolute;
    display: flex;
    align-items: center;
    left: 0%;
    top: 0%;
    background-color: #313342;
    box-shadow: var(--color-default-shadow);
    border-radius: 8px;
    padding: 0px 18px;
  } */
  .tablet {
    margin-right: 184px;
    background-color: #2752FF;
    box-shadow: var(--color-default-shadow);
    border-radius: 8px;
    padding: 10px 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;

  }
  .tablet:hover {
    color: blueviolet;
  }

  .symbol {
    font-size: 18px;
  }
  
  @keyframes primary {
    from {
      left: 0%;
    }
    to {
      left: -100%;
    }
  }
  
  .primary {
    animation: primary 15s linear infinite;
  }
  
  .secondary {
    animation: secondary 15s linear infinite;
  }
  
  @keyframes primary {
    from {
      left: 0%;
    }
    to {
      left: -100%;
    }
  }
  
  @keyframes secondary {
    from {
      left: 100%;
    }
    to {
      left: 0%;
    }
  }