:root {
    background-color: white;
}
.home-page-container {
    width: 70%;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
}


.data-and-post-container {
    width: 96.6%;
    margin: 32px auto;
    height: auto;
    display: flex;
    flex-direction: row;
}
.data-tables {
    width: 34.5%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.home-posts-container {
    width: 65.5%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}

.posts-header {
    background-color: white;
    border-radius: 8px;
    box-shadow: var(--color-default-shadow);
    display: flex;
    flex-direction: row;
    color: black;
    justify-content: space-between;
    padding: 0 1.5rem;
}

