.data-table-container {
    background-color: white;
    height: 400px;
    margin-bottom: 16px;
    width: 90%;
    border-radius: 8px;
    box-shadow: var(--color-default-shadow);
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}
