.three-index-container {
    display: flex;
    flex-direction: row;
    height: 240px;
}
.index-container {
    width: 30%;
    height: 90%;
    margin: auto;
    background-color: #313342;
    border-radius: 8px;
    box-shadow: var(--color-default-shadow);
    
}

