
.wrapper3 {
    display: flex;
    height: auto;
    justify-content: center;
    background-color: white;
    color: white;
    margin-top: 84px;
}
.profileContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.topProfileContainer {
    background-color: white;
    color: black;
    width: 700px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: var(--color-default-shadow);
}
.bottomPostContainer {
   
    width: 100%;
    max-width: 700px;
    height: auto;
    margin-top: 32px;
    border-radius: 10px;
    
}

.postSelector {
    background-color: white;
    color: black;
    margin-top: 32px;
    border-radius: 10px;
    width: 100%;
    box-shadow: var(--color-default-shadow);
    
}
.photoContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.image {
    display: block;
    object-fit: cover;
}
.image.banner {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.image.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 2rem;
    position: relative;
    bottom: 80px;
    border: 4px solid #313342;
}
.followCount {
    font-weight: bold;
    font-size: 15px;
    color: black;
}
.infoContainer {
    display: flex;
    flex-direction: column;
}
#name {
    position: relative;
    margin: 0 1rem;
    bottom: 4rem;
}
#username {
    position: relative;
    margin: 0 1rem;
    bottom: 3.5rem;
    font-weight: normal;
    font-size: 14px;
    color: #B6BCCB;
}
#bio {
    position: relative;
    margin: 0 1rem;
    font-size: 16px;
    bottom: 2rem;
    max-width: 600px;
}
.followContainer {
    display: flex;
    position: relative;
    margin: 0 1rem;
    bottom: 2rem;
    font-size: 14px;
    color: #B6BCCB;
}
#followers {
    margin-left: 12px;
}
#edit-btn {
    position: relative;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #2752FF;
    color: white;
    box-shadow: var(--color-default-shadow);
    font-size: 18px;
    cursor: pointer;
    bottom: 17rem;
    left: 35rem;
}
#headerContainer {
    position: relative;
    margin: 0 1rem;
    font-size: 14px;
}










