.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #242631;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  border-radius: 5px;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 20px;
  margin-top: 18px;
  color: white;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 25px;
  margin-right: 10px;
  width: 33%;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: white;
  border-radius: 25px;
}

.navbar__left {
  margin-right: 15px;
  font-size: 25px;
  background-color: white;
  padding: 5px 5px 0px;
  border-radius: 5px;
}

.navbar__leftMenu {
  justify-content: space-between;
  padding-right: 20px;
}
