.modal__background {
  position: absolute;
  position: fixed;
  height:100vh;
  width: 100vw;
  background-color: #242e3697;
  
  z-index: 49;
}

.modal {
  background-color: white;
  width: 600px;
  height: 314px;
  border-radius: 25px;
  margin: 100px auto 0 auto;
  position: absolute;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 50;
}

.semi__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}


.exit {
  margin-top: 5px;
  margin-left: 8px;
  justify-content: left;
  position: relative;
  display: flex;
  position: row;
}

.photo__inputContainer {
  align-items: flex-start;
  height: 70%;
  display: flex;
  margin: auto;
  width: 80%;
  position: row;
}

.content__wrapper {
  display: flex;
  flex-direction: column;
}

.profile__photo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.modal__headline {
  margin-left: 20px;
  margin-bottom: 40px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 20px;
  overflow: hidden;
  resize: none;
}

.textarea {
  margin-left: 20px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 20px;
  overflow: hidden;
  resize: none;
  display: flex;
  position: row;
}

.button__container {
  display: flex;
  flex-direction: row;
}

.send {
  background-color: #313342;
  color: white;
  width: 70px;
  height: 30px;
  margin-left: auto;
  margin-right: 15px;
  margin-bottom: 9px;
  border: none;
  border-radius: 25px;
}
